<app-modal *ngIf="openModal | async"></app-modal>
<header class="header">
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="logo">
    </div>
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item"><a href="#">Главная</a></li>
        <li class="menu__item"><a href="#cars">Автомобили</a></li>
        <li class="menu__item"><a href="#price">Бронирование авто</a></li>
      </ul>
    </nav>

  </div>
</header>
<section class="main" [ngStyle]="bgPos">
  <div class="container">
    <div class="main__info">
      <h1 class="main__title">Аренда премиальных автомобилей</h1>
      <p class="main__text">В нашем клубе имеется солидная коллекция спортивных автомобилей — от достаточно
        распространенных серийных машин до настоящего гоночного эксклюзива. Воспользуйтесь уникальной
        возможностью побывать за рулем настоящей легенды и узнать, на что она способна за пределами гоночной
        трассы!</p>
      <button class="main__button btn" (click)="goScroll(cars)">Посмотреть автомобили</button>
    </div>
  </div>
</section>
<section class="car" #cars id="cars">
  <div class="container">
    <h2 class="sub__title">Наш автопарк</h2>
    <div class="car-toggle">
      <div [ngClass]="{active: category === 'sport'}" (click)="toggleCategory('sport')">Sport</div>
      <div [ngClass]="{active: category === 'luxury'}" (click)="toggleCategory('luxury')">Luxury</div>
    </div>
    <div *ngIf="category === 'luxury'">
      <div class="cards">
        <div class="card__item" *ngFor="let car of carsData">
          <img src="{{car.image}}" alt="car" class="card__img">
          <h4 class="card__title">{{car.name}}</h4>
          <div class="car__info">
            <div class="car__info-container">
              <img src="assets/images/gear.png" alt="icon" class="car__info_img">
              <p class="car__info_txt">Привод</p>
              <p class="car__info_txt">{{car.engine}}</p>
            </div>
            <div class="car__info-container">
              <img src="assets/images/wheel.png" alt="icon" class="car__info_img">
              <p class="car__info_txt">Двигатель</p>
              <p class="car__info_txt">{{car.gear}}</p>
            </div>
            <div class="car__info-container">
              <img src="assets/images/belt.png" alt="icon" class="car__info_img">
              <p class="car__info_txt">Кол-во мест</p>
              <p class="car__info_txt">{{car.places}}</p>
            </div>
          </div>
          <button class="car__button btn" (click)="goScroll(price, car)">Забронировать</button>
        </div>
      </div>
    </div>
    <div *ngIf="category === 'sport'">
      <div class="cards">
        <div class="card__item" *ngFor="let car of carsData2">
          <img src="{{car.image}}" alt="car" class="card__img">
          <h4 class="card__title">{{car.name}}</h4>
          <div class="car__info">
            <div class="car__info-container">
              <img src="assets/images/gear.png" alt="icon" class="car__info_img">
              <p class="car__info_txt">Привод</p>
              <p class="car__info_txt">{{car.engine}}</p>
            </div>
            <div class="car__info-container">
              <img src="assets/images/wheel.png" alt="icon" class="car__info_img">
              <p class="car__info_txt">Двигатель</p>
              <p class="car__info_txt">{{car.gear}}</p>
            </div>
            <div class="car__info-container">
              <img src="assets/images/belt.png" alt="icon" class="car__info_img">
              <p class="car__info_txt">Кол-во мест</p>
              <p class="car__info_txt">{{car.places}}</p>
            </div>
          </div>
          <button class="car__button btn" (click)="goScroll(price, car)">Забронировать</button>
        </div>

      </div>

    </div>
  </div>
</section>
<section class="price" #price id="price">
  <div class="container">
    <h2 class="sub__title">Узнать цену и забронировать</h2>
    <p class="price__text">Заполните данные, и мы перезвоним вам для уточнения всех деталей бронирования</p>
    <form action="" class="form" [formGroup]="priceForm">
      <input type="text" class="price__input name" placeholder="Ваше имя" formControlName="name" required minlength="3"
        maxlength="20" />
      <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger">
        <div *ngIf="name?.errors?.['required']">Поле не заполнено</div>
        <div *ngIf="name?.errors?.['minlength']">Имя должно быть более 2 символов</div>
        <div *ngIf="name?.errors?.['maxlength']"> Имя должно быть не более 20 символов</div>
      </div>
      <input type="text" class="price__input tel" placeholder="Ваш телефон" formControlName="phone" />
      <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="alert">
        <div *ngIf="phone?.errors?.['required']">Поле не заполнено</div>
        <div *ngIf="phone?.errors?.['minlength']">Номер долен быть более 2 символов</div>
        <div *ngIf="phone?.errors?.['maxlength']"> Номер должно быть не более 20 символов</div>
      </div>
      <input type="text" class="price__input nameCar" placeholder="Автомобиль, который вас интересует"
        formControlName="car" />
      <div *ngIf="car?.invalid && (car?.dirty || car?.touched)" class="alert alert-danger">
        <div *ngIf="car?.errors?.['required']">Поле не заполнено</div>
        <div *ngIf="car?.errors?.['minlength']">Название должно быть более 2 символов</div>
        <div *ngIf="car?.errors?.['maxlength']"> Назвение должно быть не более 20 символов</div>
      </div>
      <button class="price__btn btn" (click)="onSubmit()" [disabled]="!priceForm.valid">Узнать цену</button>
    </form>
    <img src="assets/images/rolls.png" alt="car" class="price__img" [ngStyle]="trans">
  </div>
</section>
<footer class="footer">
  <div class="container">
    <img src="assets/images/logo.png" alt="logo" />
    <p class="footer__txt">Все права защищены</p>
  </div>
</footer>