
.header {
  border-bottom: 1px solid #E5E5E5;
  padding: 25px 0;
  align-items: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.logo img, .card__img {
  vertical-align: bottom;
}
.card__img {
  transition: all .3s;
}

.menu {
  margin-left: 244px;
}
.header .container {
  display: flex;
}
.menu__list {
  list-style: none;
  display: flex;
}
.menu__item {
  margin-right: 115px;
}
.menu__item a {
  font-size: 15px;
  color: #030305;
  text-decoration: none;
}
.menu__item a:hover {
  border-bottom: 2px solid black;
}

.main {
  background-image: url("../assets/images/background.png");
  background-position: center;
  background-size: cover;
  padding: 104px 0 154px 0;
}
.main__info {
  max-width: 854px;
}
.main__title {
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  color: #030305;
  margin-bottom: 40px;
}
.main__text {
  font-size: 16px;
  line-height: 130%;
  color: #030305;
  max-width: 502px;
  margin-bottom: 40px;
}
.btn {
  width: 334px;
  height: 64px;
  padding: 20px;
  background: #030305;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
  box-sizing: border-box;
  transition: all .7s ease;
}
.btn:hover {
  background: #575757;
}

.car {
  padding: 100px 0;
}
.car .container,
.price .container {
  flex-direction: column;
}
.sub__title {
  font-weight: bold;
  font-size: 60px;
  color: #030305;
  margin-bottom: 40px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.card__item {
  width: 384px;
  height: 473px;
  text-align: center;
  margin-bottom: 40px;
  transition: all .7s ease;
  cursor: pointer;
}
.card__item:hover {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  transform: scale(1.02);
}
.card__item:hover .card__title {
  color: blue;
}
.card__title {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #030305;
  margin: 15px 0 17px 0;
}
.car__info {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}
.car__info-container {
  width: 110px;
  height: 92px;
}
.car__info_txt {
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #030305;
}
.car__info_txt:nth-child(3) {
  font-weight: normal;
}
.car__info_img {
  margin-bottom: 11px;
}
.car__button {
  width: 100%;
  height: 54px;
  padding: 15px;
}
.price {
  overflow: hidden;
}
.price .container {
  position: relative;
  padding-bottom: 121px;
}
.price__text {
  font-weight: normal;
  font-size: 16px;
  color: #5D5D5F;
  margin: 20px 0 60px 0;
}
.price .sub__title {
  margin-bottom: 0;
}
.form {
  max-width: 344px;
}
.price__input {
  width: 344px;
  height: 65px;
  background: #FFFFFF;
  padding: 0 18px;
  border: 1px solid #5D5D5F;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  outline: none;
  margin-bottom: 15px;
}
.price__input::placeholder {
  color: #5D5D5F;
}
.price__btn {
  width: 100%;
  height: 64px;
}
.price__img {
  position: absolute;
  bottom: 0;
  left: 401px;
}
.footer__txt {
  font-weight: normal;
  font-size: 15px;
  color: #030305;
}
.footer {
  border-top: 1px solid #E5E5E5;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.price__input.ng-touched.ng-valid {
  border: 1px solid green;
}
.price__input.ng-touched.ng-invalid {
  border: 1px solid red;
}
.alert {
  color: red;
  font-size: 10px;
  margin: -3px 0 3px;
}
.price__btn:disabled{
  background-color: #575757;
  cursor: not-allowed;
}
.car-toggle {
  display: flex;
  width: 198px;
  border: 1px solid gray;
  margin: 0 0 40px;
}

.car-toggle div {
  padding: 20px;
  background: white;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: black;
  transition: background-color .5s;
  cursor: pointer;
}

.car-toggle div.active {
  background: #030305;
  color: #FFFFFF;
}

.car .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
